
<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/login.css">
	<link rel="stylesheet" href="https://unpkg.com/angular-toastr/dist/angular-toastr.css" />

	

</head>
<body ng-controller="loginController">

	<div id="login">
		<div class="from-group">
		<h1 id="titulo">Log in</h1>
			<form>
				<input ng-model="user.username" type="text" class="form-control" id="usuario" placeholder="Username" required ><br>
				<input ng-model="user.password" type="password" class="form-control" id="password" placeholder="Password" required><br>	
				<button ng-click="login()" ng-disabled="checkInputs()" id="botonLogin" class="btn btn-primary" type="submit">Log in</button><br>
				<a id="botonLink" href="signup" class="btn btn-link" role="button">Dont have an account?</a><br>

			</form>
		

		</div>
	</div>

</body>

	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js'></script>

  	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js'></script>
  	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js'></script>
  	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js'></script>


  	<script src="https://unpkg.com/angular-toastr/dist/angular-toastr.tpls.js"></script>
  	<script type="text/javascript" src="https://cdn.jsdelivr.net/ngstorage/0.3.6/ngStorage.min.js"></script>
  	<!--Module-->
  	<script src="/app.js"></script>
  	<!--Controllers-->
  	<script src="/loginController.js"></script>
</html>