.row{
	text-align: center;
	margin-bottom: 70px;
}


@media (max-width: 767px){
  .row{
  	/*display: inline-block;*/
  	margin-bottom: 50px;
  }

  img{
  	width: 100%;
  	max-height: 280px;
  }


  

}