
  body{
  background: rgb(238,238,238);
  background: -moz-linear-gradient(left,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%);
  background: -webkit-linear-gradient(left,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
  background: linear-gradient(to right,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=1 );


  }

#signup {
  width: 350px;
  margin: auto;
  padding-left: 35px;
  padding-bottom: 35px;
  padding-right: 35px;
  padding-top: 10px;
  margin-top: 10%;
  background-color: white; 
  border-radius: 10px 10px 10px 10px; 

  text-align: center;



  }

  button{
    width: 100%;
  }

  a{
    float: right;
   
  }
